/* Font css*/
@font-face {
    font-family: Oregano-Regular;
    src: url(fonts/Oregano/Oregano-Regular.ttf);
}
@font-face {
    font-family: Pompiere-Regular;
    src: url(fonts/Pompiere/Pompiere-Regular.ttf);
}

/*Barra Navegación*/
.navbar{
	background-color: #ffffff;
	height: 150px;
	color: none;
	border-bottom: solid 1rem #595859;
}


.navbar-text{
	color: #595859;
	font-size: none;
	margin-right: 1rem;
	padding-top: 2rem;
}

.navbar-icon{
	margin-left: 40px;
	margin-right: 5px;
	color: #063B18 ;
}

.navbar-iconcar{
	margin-left: 20px;
}

.navbar-text-list{
	list-style: none;
	text-align: center;
	font-size: 0.7rem;
	padding-left: 0rem;
}

.navbar-icon-text{
	color: #063B18;
	font-size: 1rem;
	font-style: bold;
}
/*Header*/
.banner-logo{
	position: absolute;
	width: 15%;
	z-index: 1;
}
.banner_carousel{
	margin-top: 0px; 
	position: relative;
}

.navbar_link{
	z-index: 9999; 
	padding-left: 25rem;
}

.navbar_link_text{
    background-color: #063B18;
    border-radius: 15px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
}
/*MAIN*/
.main{
	margin-top: 2rem;
}

/*MAIN_MENU*/
.main_menu_list{
	list-style: none;
}

.main_menu{
	background-color: #FF5729;
    border-radius: 15px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1rem;
    color: #000000;
}

.main_menudos{
	background-color: #8B9090;
    border-radius: 15px;
    padding: 12px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 1rem;
    color: #FFFFFF;
}

/*MAIN_grilla imagenes*/

.main_grid_titulo{
	position: absolute;
	z-index: 999;
	color: #000000;
}

.main_grid_imgprincipal{
	position: relative;
	border-radius: 3rem;
	display: block;
	margin: auto;

}

.main_grid_parrafo{
	margin-bottom: 2rem;
	margin-top: 2rem;
}
.main_grid_img{
	position: relative;
	border-radius: 3rem;

}

/*FOOTER*/

.jumbotron{
	background-color: none;
}


.jumbotron_footer{
	background-color: #595859;
	height: 200px;
}

.footer-grid{
	float: left;
	text-align: center;
	font-size: 0.8rem;
}